@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, 10px);
    }

    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

@keyframes popIn {
    from {
        opacity: 0;
        transform: translate(-50%, -90%) scale(0.95);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -100%) scale(1);
    }
}